.report-form label {
  padding: 4px;
}

.report-form input {
  margin: 4px;
}

label {
  display: flex;
  align-items: center;
}

span::after {
  padding-left: 5px;
}

input:invalid + span::after {
  content: "✖";
}

input:valid + span::after {
  content: "✓";
}

/* table styles */
table.greyGridTable {
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td,
table.greyGridTable th {
  border: 1px solid #ffffff;
  padding: 3px 4px;
}

table.greyGridTable td:nth-child(even) {
  background: #ebebeb;
}
table.greyGridTable thead {
  background: #ffffff;
  border-bottom: 2px solid #333333;
}
table.greyGridTable thead th {
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 1px solid #333333;
  text-transform: capitalize;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}
