.report-form label {
  padding: 4px;
}

.report-form input {
  margin: 4px;
}

.report-form-button {
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

/* html date control validation styles */
label {
  display: flex;
  align-items: center;
}

span::after {
  padding-left: 5px;
}

input:invalid + span::after {
  content: "✖";
}

input:valid + span::after {
  content: "✓";
}

/* table styles */
table.grid-table {
  border: 1px solid gray;
  width: auto;
  text-align: center;
  border-collapse: collapse;
}
table.grid-table td {
  padding: 4px;
  border-bottom: 1px solid gray;
}

table.grid-table th {
  padding: 8px;
}

table.grid-table td:nth-child(even) {
  background: #f4f4f4;
}
table.grid-table thead {
  background: #ffffff;
  border-bottom: 1px solid gray;
}
table.grid-table thead th {
  color: #888888;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
}
